
<article>
  <div class="cardImage">
    <img src="/assets/pics/route.jpg" alt="Route Picture">
  </div>
  <div class="content">
  <div class="cardCredentials">
    <p><b>{{name}}</b>
    </p>
  </div>
  <div class="iconsRight">

    <ion-icon (click)="toggleDescription()" class="arrow cursorPointer"
              [name]="descriptionVisible ? 'arrow-dropup' :'arrow-dropdown'">
    </ion-icon>
    <div class="lowerIconsRight">
      <img src="../../assets/icon/trash.svg" alt="delete" class="deleteCardButton cursorPointer" name="deleteRoute">
      <img src="../../assets/icon/change.svg" alt="change" class="changeCardInfoButton cursorPointer" name="changeRouteInfo">
    </div>
  </div>

  <div [class]="descriptionVisible ? 'cardDescription displayInLineBlock' :'cardDescription displayNone'">{{description}}</div>
  </div>
</article>
