.widthHeightFormatDiv{
  //height: calc(100vh - 54vw);
  //min-height: calc(100vh - 346px);
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
  max-width: 500px;
}

input{
  border: 1px solid black;
  border-radius: 5px;
  padding:0.25em;
}

.textInput{
  width:100%;
  border: 1px solid black;
  border-radius: 5px;
  padding:0.25em;
}

.dogDescription{
  //height:10em;
}

.addPicCancelSaveDiv{
  position: relative;
}

.addPictureDiv{

}

.addPictureCircle p{
  margin-top: 2em;
}

.addPictureCircle{
  background-color: #C4C4C4;
  border: dashed 1px black;
  border-radius: 50%;
  width:7em;
  height:7em;
  text-align: center;
}

#saveCancelDiv{
  display: inline-block;
  width:min-content;
  text-align: center;
  position: absolute;
  top:2em;
  right:0;
}

.inputDiv{
  position: relative;
  top: -2em;
}

#addButton{
  font-size:2.5em;
  position: relative;
  top: -1em;
  left: 2em;
}

//#dogDescription::-webkit-input-placeholder{
//  position: relative;
//  top: -4em;
//}

