@import "../../sass/forms-styles";

  .datepicker, .checkbox {
      margin: 0 20px;
  }

  .checkbox ion-checkbox {
      margin-right: 20px;
  }

  .logo {
      display: block;
      margin: auto;
      margin-bottom: 10px;
  }

  .submit-button {
    margin: 15px 20px 0px; 
  }
