.listHeader{
  text-align: center;
}

.dog-cards {
  /*
  overflow-y: auto;
  height: 75vw;
  position: relative;
  display: block;
  */
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.grid-container {
  width: 80%;
  min-width: 200px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
