@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

#map {
    width: 100vw;
    height: calc(100% - #{$headerHeight});
}

::ng-deep .map-marker-user {
    height: 24px;
    width: 24px;
    left: -12px;
    top: -12px;
    background-image: url(colorUserIcon(#5b84dc));
    fill: blue;
}
