<header>
    <div text-center>
        <ion-toggle float-left (ionChange)="onChange()" [checked]="isVisible"  color="success"></ion-toggle>
        <img margin-vertical src="/assets/WetterPlaceholder.svg">
        <button float-right class="small-btn" (click)="onLogout()">
            <i class="material-icons">exit_to_app</i>
        </button>
        <button float-right class="small-btn">
            <i class="material-icons">live_help</i>
        </button>
    </div>
</header>
<app-map></app-map>
