$height: 15vw;
$maxHeight: 100px;
$minHeight: 70px;

article {
  width: 80%;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 15px;
}

.content {
  background: #F7F7F7;
  box-shadow: 7px 2px 13px gray;
  height: $height;
  min-height: $minHeight;
  max-height: $maxHeight;
  margin-left: calc(-#{$height} / 2);
  padding: 5px;
  padding-left: calc(#{$height} / 2 + 10px);
  width: calc(100% - #{$height});
  border-radius: 10px;
  display: inline-table;
  flex-wrap: wrap;
  position: relative;
}

.profile-image {
  border-radius: 200px;
  width: $height;
  height: $height;
  max-width: $maxHeight;
  max-height: $maxHeight;
  min-width: $minHeight;
  min-height: $minHeight;
  overflow: hidden;
  z-index: 5;
  background-color: white;
}

.profile-image img {
  min-width: 100%;
  min-height: 100%;
}

.cursorPointer:hover{
  cursor: pointer;
}

.lowerIconsRight{
  right: 10px;
  bottom: 8px;
  position: absolute;
}

.changeDogInfoButton{
  width: 18px;
  position: relative;
}

.deleteDogButton{
  width: 15px;
  position: relative;
  right: 1em;
}

.arrow{
  position: absolute;
  right: 10px;
  top:0px;
}

.dogNotationButton{
  position: relative;
  right: -0.3em;
  width: 25px;
}

.dogName{
  padding-bottom: 10px;
  font-size:18px;
}

.dogDescription{
  padding: 0.6em;
  margin-bottom: 35px;
  margin-right: 10px;
  border: 1px solid #414141;
  border-radius: 0.6em;
  background-color: white;
}

.dogCredentials{
  position: relative;
  top: -15px;
}


@media screen and (min-width: 360px) {


  .arrow{
    font-size: 20px;
  }

  .deleteDogButton{
    width: 15px;
  }

  .changeDogInfoButton {
    width: 18px;
  }

}

@media screen and (min-width: 500px) {
  .arrow{
    font-size: 30px;
    right: 10px;
    top:5px;
  }
  .deleteDogButton{
    width: 17px;
  }

  .changeDogInfoButton {
    width: 20px;
  }
}

@media screen and (max-width: 360px) {
  .content {
    margin-left: calc(-#{$minHeight} / 2);
    padding-left: calc(#{$minHeight} / 2 + 10px);
    width: calc(100% - #{$minHeight});
  }
}

@media screen and (min-width: 666px) {
  .content {
    margin-left: calc(-#{$maxHeight} / 2);
    padding-left: calc(#{$maxHeight} / 2 + 10px);
    width: calc(100% - #{$maxHeight});
  }

  .dogCredentials{
    position: relative;
    top: 0px;
  }
}
