<header>
  <nav class="list-navigation">
    <button>
      <i class="material-icons">
        supervisor_account
        </i>
    </button>
    <button>
      <i class="material-icons">
        pets
        </i>
    </button>
    <button>
      <i class="material-icons">
        map
        </i>
    </button>
    <button>
      <i class="material-icons">
        pan_tool
        </i>
    </button>
  </nav>
  <section class="filter"></section>
</header>
<section class="list-content"></section>
<footer></footer>
