#check {
  display: none;
}

/* Set the icon width, height and position */
.main,.icons {
  margin: auto;
  position:absolute;
  top: 5px;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
}

/* Set the style of menu button */
.main {
  cursor: pointer;
  z-index: 50;
}

/* Set the position, height and
    width of menu button */
.main .title {

  position:absolute;
  bottom:0;
  right:0;
  //position: absolute;
  //bottom: 50px;
}

/* Set position, height and width
    of buttons */
.button {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transition: all 0.4s ease-in;
  text-decoration: none;
}
.button i {
  width: 61px;
  //width: 120%;
  height:62.5px;
  //line-height: 55px;
  border: none;
  border-radius: 50px;
  background-color: white;
  //margin: 5px;
  //text-align: center;
  color: black;
  box-shadow: 0px 0px 20px gray;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Positioning of buttons */

#check:checked ~ .main + .icons .button:nth-of-type(1) {
  top: -50%;
  left: -520%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(2) {
  top: -230%;
  left: -285%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(3) {
  top: -300%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(4) {
  top: -230%;
  right: -285%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(5) {
  top: -50%;
  right: -520%;
  //transition-delay:0.4s;
}
