<input id="check" type="checkbox" >

<label class="main title" for="check" >
  <a class="button">
    <i class="material-icons">menu</i>
  </a>
</label>


<!--Buttons that link with the other pages -->
<div class="icons">
  <a class="button" [routerLink]="['/list', constants.ROUTES_LIST]">
    <i class="material-icons">map</i>
  </a>
  <a class="button" routerLink="/profile" >
    <i class="material-icons">person_pin</i>
  </a>
  <a class="button" routerLink="/main" >
    <i>
    <img src="../../assets/icon/liveMapIcon.svg" alt="liveMapIcon" class="liveMapIcon">
    </i>
  </a>
  <a class="button" [routerLink]="['/list', constants.DOG_LIST]">
    <i class="material-icons">pets</i>
  </a>
  <a class="button" [routerLink]="['/list', constants.FRIEND_LIST]">
    <i class="material-icons">people_alt</i>
  </a>
  <a class="button" href="#">
    <i class="material-icons">message</i>
  </a>
</div>
