#check {
  display: none;
}

/* Set the icon width, height and position */
.main,.icons {
  margin: auto;
  position:absolute;
  top: 5px;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
}

/* Set the style of menu button */
.main {
  cursor: pointer;
  z-index: 50;
}

/* Set the position, height and
    width of menu button */
.main .title {
  box-shadow: 0px 0px 20px gray;
  position:absolute;
  bottom:0;
  right:0;
  //position: absolute;
  //bottom: 50px;
}

/* Set position, height and width
    of buttons */
.button {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
.button i {
  width: 61px;
  height:62.5px;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .button i{
  box-shadow: 0px 0px 20px gray;
}

.liveMapIcon{
  width: 45px;
  height: 60px;
  top: -3px;
  position: relative;
}

#check:checked ~ .icons .button i{
  box-shadow: 0px 0px 20px gray;
}

/* Positioning of buttons */

#check:checked ~ .main + .icons .button:nth-of-type(1) {
  top: 25%;
  left: -515%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(2) {
  top: -245%;
  left: -400%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(3) {
  top: -380%;
  left: -144%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(4) {
  top: -380%;
  right: -144%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(5) {
  top: -245%;
  right: -400%;
  //transition-delay:0.4s;
}
#check:checked ~ .main + .icons .button:nth-of-type(6) {
  top: 25%;
  right: -515%;
  //transition-delay:0.4s;
}
