.textfeld{
  width: 100%;
  padding: 12px 200px;
  margin: 8px 40px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 6px;
}

.button{
  --background: rgba(229, 229, 229, 0.53);
  color: black;
}
