<div>
  <img height="50 px" src="../../assets/floof_logo_final.svg" alt=""/>
  {{dataStore.userData.vorname}}
  {{dataStore.userData.name}}
  <button>
    <i class="material-icons">
      exit_to_app
    </i>
  </button>
  {{dataStore.userData.username}}
  {{dataStore.userData.email}}
  <button>
    <i class="material-icons">
      settings
    </i>
  </button>
  <button>
    <i class="material-icons">
      palette
    </i>
  </button>
  <button>
    <img src="../../assets/icon/addDogIcon.svg" alt="addDogIcon" height="25 px">
  </button>
  <button>
    <img src="../../assets/icon/liveMapIcon.svg" alt="liveMapIcon" height="50 px">
  </button>
</div>
