<div class="grid-container">
  <div id="profile-header" class="grid-item">
    <div>
      <button mat-flat-button style="padding: 0;" (click)="openModal('upload')">
        <img src="../../assets/floof_logo_final.svg" alt="" class="profile-pic"/>
      </button>
    </div>
    <div class="userCredentialsWithButtons">
    <div class="userCredentials">
    <div class="userNameAndSurnameDiv">
      <h1>
        {{dataStore.userData.vorname}}
        {{dataStore.userData.name}}
      </h1>
    </div>
    <div class="userNameDiv">
    <div class="user-data">
      {{dataStore.userData.username}}
    </div>
    </div>
      <div class="userEmailDiv">
    <div class="user-data">
      {{dataStore.userData.email}}
    </div>
    </div>
    </div>
      <a routerLink="#" class="small-btn">
        <i class="material-icons">settings</i>
      </a>

      <button mat-flat-button (click)="openModal('palette')"><i class="material-icons palette-btn">palette</i></button>

      <a routerLink="#" class="small-btn">
        <img src="../../assets/icon/addDogIcon.svg" alt="addDogIcon" height="25px">
      </a>
    </div>
    <div id="logout">
      <button class="small-btn" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </button>
    </div>
    <div id="chat">
      <select [(ngModel)]="ping">
        <option *ngFor="let ping of pingMessages">{{ping}}</option>
      </select>
      <button class="small-btn" (click)="chat()">
        <i class="material-icons">sms</i>
      </button>
    </div>

  </div>

  <div id="dog-cards" class="grid-item">
    <div class="dogIndexCardDiv">
      <app-dog-index-card></app-dog-index-card>
    </div>
    <div class="dogIndexCardDiv">
      <app-dog-index-card></app-dog-index-card>
    </div>
    <div class="dogIndexCardDiv">
      <app-dog-index-card></app-dog-index-card>
    </div>
    <div class="dogIndexCardDiv">
      <app-dog-index-card></app-dog-index-card>
    </div>
    <div class="dogIndexCardDiv">
      <app-dog-index-card></app-dog-index-card>
    </div>
  </div>

  <div id="profile-footer" class="grid-item">
    <button class="large-btn">
      <a routerLink="/main" routerLinkActive="active">
        <img src="../../assets/icon/liveMapIcon.svg" alt="liveMapIcon">
      </a>
    </button>
  </div>
</div>
