.userNameDiv {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  left: 71px;
  top: 10px;
}

.profile-pic {
  border-radius: 5em;
  background-color: white;
  border: #414141 solid 0.1em;
  height: 7em;
  width: 7em;
  float: left;
}

p {
  font-size: 1em;
}

#profile-header {
  padding: 25px;
  flex: 0 1 auto;
  box-sizing: border-box;
  margin: auto;
  max-width: 500px;
}

.addBlockUserDiv{
  display: inline-flex;
  top: 10px;
  position: relative;
}

.addButtonDiv{
  text-align: center;
  margin:0.5em
}

.blockButtonDiv{
  text-align: center;
  margin:0.5em
}

.addButtonDiv p{
font-size: 0.59em;
}

.blockButtonDiv p{
  font-size: 0.59em;
}

.blockUserIcon{
  font-size: 0.5em;
}

.addFriendIcon{
  font-size: 2em;
}

footer {
  flex: 0 1 7.5em;
}

.profile-footer{
  position: fixed;
  bottom: 52.5px;
  width: 100%;
  z-index: 5;
}

  #chat {
    position: relative;
    width: 225px;
    margin: auto;
  }


