.small-btn {
  background-color: white;
  color: #414141;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.large-btn{
  background-color: #e5e5e5;
  color: #414141;
  border-radius: 50px;
  border: none;
  padding: 3px 3px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 10px grey;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  float: bottom;
}

.userNameDiv {
  position: relative;
  left: 1em;
  top: -1em;
}

.profile-pic {
  border-radius: 5em;
  background-color: white;
  border: #414141 solid 0.1em;
  height: 7em;
  width: 7em;
  float: left;
}

#logout {
  float: right;
}

p {
  color: #414141;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

#profile-header {
  position: sticky;
  padding: 10px;
  margin: 10px;
}

#dog-cards {
  overflow-y: auto;
  height: 50vh;
  position: relative;
  display: block;
}

.addBlockUserDiv{
  display: inline-flex;
}

.addButtonDiv{
  text-align: center;
  margin:0.5em
}

.blockButtonDiv{
  text-align: center;
  margin:0.5em
}

.addButtonDiv p{
font-size: 0.5em;
}

.blockButtonDiv p{
  font-size: 0.5em;
}

.blockUserIcon{
  font-size: 2em;
}

.addFriendIcon{
  font-size: 2em;
}

.dogIndexCardDiv{
  margin-bottom: 0.5em;
}

#profile-footer {
  padding: 10px;
  margin: 10px;
  height: 90px;
  position:fixed;
  bottom: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-item {

}

.user-data {
  color: #414141;
  font-family: Arial, sans-serif;
  font-size: 0.85em;
  padding: 0.1em;
}
