<div class="grid-container">
  <div id="profile-header" class="grid-item">
        <img src="../../assets/floof_logo_final.svg" alt="" class="profile-pic"/>
    <div class="userNameDiv">
      {{data.username}}
    </div>
    <div class="addBlockUserDiv">

      <div class="addButtonDiv">
        <button>
          <img src="../../assets/icon/addUserIcon.svg" alt="" class="addFriendIcon">
        </button>
        <p>Freund hinzufügen</p>
      </div>

      <div class="blockButtonDiv">
        <button>
          <img src="../../assets/icon/blockUserIcon.svg" alt="" class="blockUserIcon">
        </button>
        <p>Benutzer blockieren</p>
      </div>

    </div>

    <div id="chat">
      <select [(ngModel)]="ping">
        <option *ngFor="let ping of pingMessages">{{ping}}</option>
      </select>
      <button class="small-btn" (click)="chat()">
        <i class="material-icons">sms</i>
      </button>
    </div>
    </div>

      <div class="listContainer">
          <app-strangers-dog-index-card></app-strangers-dog-index-card>
          <app-strangers-dog-index-card></app-strangers-dog-index-card>
          <app-strangers-dog-index-card></app-strangers-dog-index-card>
          <app-strangers-dog-index-card></app-strangers-dog-index-card>
          <app-strangers-dog-index-card></app-strangers-dog-index-card>
      </div>
  <footer>
    <div class="profile-footer">
  <app-rain-bow-menu></app-rain-bow-menu>
    </div>
  </footer>
</div>
